body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-family: 'Pixelify Sans', sans-serif; /* Apply the new font */
    color: #333;
    margin-top: 20%;
}

.image-box {
    width: 100px; /* Set the width of the square box */
    height: 100px; /* Set the height of the square box */
    margin: 20px auto; /* Center the box horizontally */
    border: 2px solid #eee9e9; /* Optional: Add a border to the box */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure the image fits within the box */
}

.image-box img {
    max-width: 100%; /* Make the image cover the entire box */
    max-height: 300px;
    width: auto; /* Maintain the aspect ratio of the image */
    height: auto;
}