body {
    background-color: hsl(110, 94%, 69%); /* Change this to any color you prefer */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20%;
}